{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_v/edit_pro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Editar Producto - {{pro.name}}</title>
</head>

<body>
{% block content %}
<header id="header">
    <div id="hdPri"> 
        <div id="btncont" class="mt-2 mr-2">
            <button id="user_log" class="mr-5">
                <img src="{% static 'imagenes/menu_ae/user.png' %}" width="35px" height="40px">
                <label style="margin: 0;"> Usuario: <label style="font-weight:500;">{{request.user.username}}</label> </label>   
            </button>

            <button id="secciones" class="mr-5"> 
               <img src="{% static 'imagenes/menu_ae/sec.png' %}" width="40px" height="40px"> Secciones <label style="font-size: 17px">v</label> </button>

            <button id="btncar" class="mr-3">
                <img src="{% static 'imagenes/menu_ae/carro.png' %}" width="40px" height="35px" class="mb-2 mt-1"> <label class="ml-1">Carrito</label>
            </button>

            <button id="btnLog" class="mr-2">
                <img src="{% static 'imagenes/menu_ae/logoutt.png' %}" width="35px" height="35px">  
            </button>
        </div>
    </div> 

    <div id="white">
        <img src="{% static 'imagenes/menu_ae/logo.png' %}" width="250px" height="60px" class="ml-4 mb-3">
        <button id="home"> 
            <img src="{% static 'imagenes/menu_ae/principal.png' %}" width="50px" height="50px">
        </button>
    </div>

    <div id="carrito_h">
        <div id="ttl_carro" > 
            <h4> Productos en el carro </h4>
        </div>
        {% if pro_carrito %}
        <div id="scrollT">
            <table class="ml-4 mt-2 mb-3">
                <tbody>
                {% for pro in pro_carrito %}
                    <tr class="producto" data-proo="{{ pro.producto.id }}" data-id="{{ pro.id }}" data-precio="{{ pro.producto.precio }}" data-cantidad="{{ pro.cantidad }}">
                        <td style="width: 80px;"> <img src="{{ pro.producto.img.url }}" width="60px" height="60px"> </td>
                        <td style="color: grey; width: 100px;"> {{ pro.producto.name }} </td> 
                        <td class="precio" style="color: rgb(12, 12, 129); width: 80px;"> 
                            {{ pro.producto.precio }}
                        </td>
                        <td style="width: 80px;"> 
                        <a href="#" class="increment" data-action="increment" style="font-size: 30px;"> + </a>
                        <span class="cantidad"> {{ pro.cantidad }} </span>
                        <a href="#" class="decrement" data-action="decrement" style="font-size: 30px;" > - </a>                                </td>
                        <td>
                        <a href="#" class="remover ml-4" data-action="remove" style="font-size: 30px;"> x </a> </td>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        </td>
                    </tr>
                {% endfor %}   
                </tbody>
            </table>
        </div>
        <div id="diseño_bajo"> 
          <label id="subtotall" class="ml-4"> </label> <br>
          <div style="text-align: center; " class="mt-2">
            <a href="{% url 'Admin_v/carrito' %}">
              <button class="btn"> Finalizar Compra </button>
            </a>
          </div>
        </div>
      {% else %}
      <div id="dis_bajoE">
        <br>
        <label style="color: black;"> No hay productos Registrados </label>
        <a href="{% url 'Admin_v/productos' %}">
          <button class="btn"> Ver Productos </button>
        </a>
      </div>
      {% endif %}
    </div>
</header>

<div id="hdrctn">
    <header id="header2">
        <div id="lasSecci">
            <div class="mt-2 ml-2">
                <label> <a href="{% url 'Admin_v/usuarios' %}"> Usuarios </a> - </label>
                <label> <a href="{% url 'Admin_v/categorias' %}"> Categorias </a> - </label>
                <label> <a href="{% url 'Admin_v/productos' %}"> Productos </a> - </label>
                <label> <a href="{% url 'Admin_v/recetas' %}"> Recetas</a> - </label>
                <label> <a href="{% url 'Admin_v/bitacora' %}"> Bitacora de Desarrollo</a> - </label>
                <label> <a href="{% url 'Admin_v/cupon' %}"> Cupones </a> - </label>
                <a href="{% url 'Admin_v/carrito' %}"> Carrito</a>
            </div>
        </div>
    </header>
</div>

<div id="ImgFon"> 
    <div>
        <label class="ml-5" style="width: 600px;  transform: translateY(-5%); position: relative; color: rgb(11, 11, 124); font-size: 72px; font-family: cursive; font-weight: bold; top: 35%; left: 30px;">Productos </label>
    </div>
</div>

<div id="divEP" class="mt-4 ml-5">
    
    <div id="divEPD">

        <div id="divIE">
            <div class="lineas" id="linea1"></div>
            <div>
                <img src="{% static 'imagenes/productos_ae/logoo.png' %}" style="opacity: 0.6;" width="110px" height="110px" class="mt-3 ml-3 mb-3">
            </div>
            <div class="lineas" id="linea2"></div>
        </div>

        <h2 style="font-weight: bold; color: rgb(11, 11, 124)" align="center"> Editar Producto </h2>
        <form action="" method="post" enctype="multipart/form-data" class="ml-5">
            {% csrf_token %}
            <Label style="font-weight: bold; font-size: 17px;" class="mt-3"> Nombre </Label>
            <label style="font-weight: bold; font-size: 17px; margin-left: 35%;"> Precio </label> <br>
            {{form.name}}
            {{form.precio}} <br> 
                <label style="font-weight: bold; font-size: 17px;" class="mt-3"> Descripcion </label> <br>
                {{form.descripcion}} <br>      
                <label style="font-weight: bold; font-size: 17px;" class="mt-2"> Categoria </label> <br>
                {{form.categoria}} <br>
            <label style="font-weight: bold; font-size: 17px;" class="mt-3"> Subir Imagen </label> <br>
            {{form.img}} <br>
       
            <div id="losbtn" class="mt-4 mb-4" >
                <button type="submit" class="btn" id="btngg"> Guardar </button>
                <button type="text" id="btnR" class="btn btn-danger"> Cancelar</button>
            </div>
        </form>

        <div id="divIE">
            <div class="lineas" id="linea1"></div>
            <div>
                <img src="{% static 'imagenes/productos_ae/logo.png' %}" style="opacity: 0.6;" width="100px" height="100px" class="mt-3 ml-3 mb-3">
            </div>
            <div class="lineas" id="linea2"></div>
        </div>

    </div> 

    <div style=" border-radius: 30px; position: relative; margin-left: 0%; border: 5px solid rgba(10, 116, 12, 0.308); height: 550px;" class="mt-5">
        
        <div id="divIE">
            <div class="lineas" id="linea1"></div>
            <div>
                <img src="{% static 'imagenes/productos_ae/foto.png' %}" style="opacity: 0.6;" width="100px" height="100px" class="mt-3 ml-3 mb-3">
            </div>
                <div class="lineas" id="linea2"></div>
        </div>    

        <div id="imgctn" class="ml-5 mr-5 mt-4"> 
            <img src="{{pro.img.url}}" width="430px " height="320px" style="border: black solid;"> <br> 
            <label class="mt-2" style=" font-size: 25px;"> {{pro.name}} </label>
        </div>
    </div>
</div>

<br>
{% endblock %}
</body>
<script src="{% static 'js/edit_pro.js' %}"></script>
<script src="{% static 'js/header_a.js' %}"></script>

</html>