#ctnNP {
    background-color: hsl(41, 88%, 10%);
    border-radius: 30px;
    width: 421px;
    color: white;
    margin-top: 13%;
    margin-left:38%;
    font-family:cursive;
    opacity: 0.9;
}

.btn {
    background-color: hsl(0, 95%, 23%);
    border-radius: 30px;
    color: white;
    width: 150px;
    font-size: 18px;
    margin-left: -1px;
}

#img{
    margin-left: 34%;
    margin-top: -50px;
}

input {
    height: 38px;
    width: 70%; 
    border-radius: 50px;
}

