{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_v/bitacora.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Bitacora de Desarrollo</title>
</head>
<body>
{% block content %}
<header id="header">
    <div id="hdPri"> 
        <div id="btncont" class="mt-2 mr-2">
            <button id="user_log" class="mr-5">
                <img src="{% static 'imagenes/menu_ae/user.png' %}" width="35px" height="40px">
                <label style="margin: 0;"> Usuario: <label style="font-weight:500;">{{request.user.username}}</label> </label>   
            </button>

            <button id="secciones" class="mr-5"> 
               <img src="{% static 'imagenes/menu_ae/sec.png' %}" width="40px" height="40px"> Secciones <label style="font-size: 17px">v</label> </button>

            <button id="btncar" class="mr-3">
                <img src="{% static 'imagenes/menu_ae/carro.png' %}" width="40px" height="35px" class="mb-2 mt-1"> <label class="ml-1">Carrito</label>
            </button>

            <button id="btnLog" class="mr-2">
                <img src="{% static 'imagenes/menu_ae/logoutt.png' %}" width="35px" height="35px">  
            </button>
        </div>
    </div> 

    <div id="white">
        <img src="{% static 'imagenes/menu_ae/logo.png' %}" width="250px" height="60px" class="ml-4 mb-3">
        <button id="home"> 
            <img src="{% static 'imagenes/menu_ae/principal.png' %}" width="50px" height="50px">
        </button>
    </div>

    <div id="carrito_h">
      <div id="ttl_carro" > 
        <h4> Productos en el carro </h4>
      </div>
      {% if pro_carrito %}
        <div id="scrollT">
            <table class="ml-4 mt-2 mb-3">
                <tbody>
                    {% for pro in pro_carrito %}
                        <tr class="producto" data-proo="{{ pro.producto.id }}" data-id="{{ pro.id }}" data-precio="{{ pro.producto.precio }}" data-cantidad="{{ pro.cantidad }}">
                            <td style="width: 80px;"> <img src="{{ pro.producto.img.url }}" width="60px" height="60px"> </td>
                            <td style="color: grey; width: 100px;"> {{ pro.producto.name }} </td> 
                            <td class="precio" style="color: rgb(12, 12, 129); width: 80px;"> 
                                {{ pro.producto.precio }}
                            </td>
                            <td style="width: 80px;"> 
                                <a href="#" class="increment" data-action="increment" style="font-size: 30px;"> + </a>
                                <span class="cantidad"> {{ pro.cantidad }} </span>
                                <a href="#" class="decrement" data-action="decrement" style="font-size: 30px;" > - </a>
                            </td>
                            <td>
                            <a href="#" class="remover ml-4" data-action="remove" style="font-size: 30px;"> x </a> </td>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            </td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
        <div id="diseño_bajo"> 
          <label id="subtotall" class="ml-4"> </label> <br>
          <div style="text-align: center; " class="mt-2">
            <a href="{% url 'User_v/carrito' %}">
              <button class="btn"> Finalizar Compra </button>
            </a>
          </div>
        </div>
      {% else %}
      <div id="dis_bajoE">
        <br>
        <label style="color: black;"> No hay productos Registrados </label>
        <a href="{% url 'User_v/productos' %}">
          <button class="btn"> Ver Productos </button>
        </a>
      </div>
      {% endif %}
    </div>
  </header>

  <div id="hdrctn">
      <header id="header2">
          <div id="lasSecci">
              <div class="mt-2 ml-2">
                <label> <a href="{% url 'User_v/productos' %}"> Productos </a> - </label>
                <label> <a href="{% url 'User_v/recetas' %}"> Recetas</a> - </label>
                <label> <a href="{% url 'User_v/bitacora' %}"> Bitacora de Desarrollo</a> - </label>
                <a href="{% url 'User_v/carrito' %}"> Carrito</a>
              </div>
          </div>
        </header>
    </div>


<div id="ImgFon"> 
    <div>
        <label class="ml-5" style="width: 600px;  transform: translateY(-5%); position: relative; color: rgb(11, 11, 124); font-size: 72px; font-family: cursive; font-weight: bold; top: 25%; left: 30px;">Bitacora de desarrollo </label>
    </div>
</div>

<div style="font-family: cursive; position: relative;" class="ml-5 mt-2">
    
    <div class="mb-2 ">
        <h4 style="font-weight: bold; color: rgb(5, 5, 113);"> Comentarios ({{comentarios_tot}})</h4>
    </div>
    
    <div id="divIE">
        <div class="lineas" id="linea1"></div>
        <div> <img src="{% static 'imagenes/bitacora_ae/comentarios.png' %}" width="60px" height="60px" style="opacity: 0.3;"></div>
        <div class="lineas mr-5" id="linea2"></div>
    </div>

    {% if bitacora_com %}
    <div style="display:flex; flex-direction: column;" class="ml-2 mr-5">     
        {% for progra in bitacora_com %}
            <div style="display: flex; align-items: center;" class=""> 
                <img src="{% static 'imagenes/bitacora_ae/coment.png' %}" alt="" width="65px" height="65px">
                <div class="ml-2">
                    <label style="color: rgb(22, 22, 169); margin: 0; font-weight: bold;">{{progra.nombre}} </label><br>
                    <label style="color: grey; margin: 0; font-size: 17px">{{progra.fecha}} </label><br>
                    {{progra.comentario}}
                </div>
            </div> 

            <div style="position: relative; margin-left: 74px; " class="mb-3 mt-2">
                <div style="display: flex;">
                    <form action="{% url 'interaccion_u' %}" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" name="bitacora_id" value="{{ progra.id }}">
                        <input type="hidden" name="tipo" value="LIKE">
                        <button type="submit" style="border: none; background: none; color: grey; font-weight: bold;"> 
                            <img src="{% static 'imagenes/bitacora_ae/like.png' %}" width="30px" height="30px"> {{progra.like}}
                        </button>
                    </form>
               
                    <form action="{% url 'interaccion_u' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="bitacora_id" value="{{ progra.id }}">
                        <input type="hidden" name="tipo" value="DISLIKE">
                        <button type="submit" style="border: none; background: none; color: grey; font-weight: bold;"> 
                            <img src="{% static 'imagenes/bitacora_ae/dislike.png' %}" width="30px" height="30px"> {{progra.dislike}} 
                        </button>
                    </form>
                <button type="text" class="mostrar ml-2" data-btnsect="{{progra.id}}" style="background: none;border: none; color: grey; font-weight: bold;"> Responder </button>
                </div> 

                <div style="display: flex; " class="comentarr mt-3" data-seccion="{{progra.id}}">
                    <img src="{% static 'imagenes/bitacora_ae/coment.png' %}" width="65px"  height="65px">
                    <div class="ml-3" style="width: 80%;" >
                        <form action="{% url 'interaccion_u' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="bitacora_id" value="{{ progra.id }}">
                            <input type="hidden" name="tipo" value="COMENTARIO">
                            <textarea name="texto_comentario" style="width: 80%; height: 100px;" placeholder="Comentario..."></textarea><br>
                            <button type="submit" class="btn" id="btnComent">Comentar</button>
                        </form>
                    </div>
                </div> 
               
                {% for interaccion in interacciones %}
                    {% if interaccion.bitacor.id == progra.id and interaccion.tipo == 'COMENTARIO' %}
                    <div class="mt-4 mb-3" style="display: flex;">
                            <img src="{% static 'imagenes/bitacora_ae/coment.png' %}" width="65px"  height="65px">
                            <div class="ml-3" style="width: 80%;" >
                                <label style="color: rgb(22, 22, 169); margin: 0; font-weight: bold;"> {{interaccion.usuario.username}} </label><br>
                                <label style="color: grey; margin: 0; font-size: 17px"> {{interaccion.fecha}}</label><br>
                                <label style="margin: 0; color:black; font-size: 1rem"> {{interaccion.comentarios}}</label>
                            </div>     
                    </div>
                    {% endif %}
                {% endfor %}
            </div>  
        {% endfor %}
        <div class="mt-2 text-center" style="font-weight: bold; font-size: 17px">
            <span class="step-links">
                {% if bitacora_com.has_previous %}
                    <a href="?page1=1">&laquo; </a>
                    <a href="?page1={{ bitacora_com.previous_page_number }}"> « </a>
                {% endif %}
        
                <span class="current">
                    Página {{ bitacora_com.number }} de {{bitacora_com.paginator.num_pages }}.
                </span>
        
                {% if bitacora_com.has_next %}
                    <a href="?page1={{ bitacora_com.next_page_number }}"> » </a>
                    <a href="?page1={{ bitacora_com.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span> 
        </div>
    </div>
    {% else %}
    <p style="font-size: 20px;"> No hay comentarios </p>
    {% endif %}
</div>
{% endblock %}   
</body>
<script src="{% static 'js/bitacora.js' %}"></script>
<script src="{% static 'js/header_u.js' %}"></script>
</html>
