#ctnImg {
    display:flex; 
    height: 490px;
    background-image: url('../../imagenes/recetas_ae/recetas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#divForm{
    font-family: cursive;
    width: max-content;
    border: 1px solid rgba(10, 116, 12, 0.308);
    border-radius: 30px;
}

#divForm label{
    color: black;
    font-size: 18px;
}
#btnA{
    background-color: rgba(14, 97, 7, 0.8);
    color: white;
    font-size: 22px;
    width: 150px;
    height: 60px;
    margin-left: 150px;
    border-radius: 30px;
    font-weight: bold;
}

#id_nombre, #slcTR, #categoria, #id_cat_si {
    width: 500px;
    height: 40px;
}

#id_ingre, #id_proce{
    width: 500px;
    height: 100px;
}

#id_imagen, #id_video{
    width: 500px;
}

#tblRr{
    position: relative;
    width: 50%;
    left: 20px;
    height: max-content;
    text-align: center;
    vertical-align: middle;
    font-family: cursive;
}

/* Imagen*/
.imgCtn {
    position: relative;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
}

.imgCtn img {
    width: 360px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 380px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.imgCtn:hover img {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

.nombre {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(14, 97, 7, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 360px;
    height: 80px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.catego{
    position: absolute;
    display: flex;
    top: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgba(112, 8, 8, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
}

#ctnSb{
    position: relative; 
    left: 5%;
    top: 30px;
    height: max-content;
}

#ctnSb input {
    width: 460px;
    padding: 10px;
    border-radius: 30px;
}

#ctnSb button {
    background-color: rgba(14, 97, 7, 0.8);
    font-size: 18px;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
}

#divcat{
    top: 12px; 
    position: relative; 
}

/*paginacion*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

#search_icon{
    position: absolute;
    background-image: url('../../imagenes/recetas_ae/search.png');
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 42px;
    height: 42px; 
    background-size: cover;
}

#result_fil{
    position: relative;
    width: max-content;
    top: 30px;
    left: 30px;
}

/* Lineas */
#divIE{
    width: 100%; 
    display: flex;
    align-items: center;
}

.lineas{
    border-bottom: 1px solid rgba(10, 116, 12, 0.308); 
    flex-grow: 1;
    border-radius: 50px;
}

#linea1{
    border-bottom-left-radius: 30px;

}

#linea2{
    border-bottom-right-radius: 30px;
}