{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_pass.css' %}">
    <title>Establecer Nueva Contraseña</title>
</head>
<body>
    {%block content%}
    <style>
        body{
            background-image: url('{% static "imagenes/logreg/fond.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
        <form method="post">
            {% csrf_token %}
            <div class="container" id="ctnNP">
                <img src="{% static 'imagenes/logreg/resta.png' %}" width="130px" height="130px" id="img">
                <h4 align="center" class="mb-3 mt-3 font-weight-bold"> Establezca su nueva contraseña </h4>
                <div class="container ml-4 font-italic">
                    <label for="new_password">Nueva Contraseña:</label> <br>
                    <input type="password" name="new_password" id="new_password" required> <br>
                    <label for="new_password" class="mt-3">Repita la Contraseña:</label> <br>
                    <input type="password" name="repet_password" id="repet_password" required>
                        <div class="mt-3" id="error">
                            {% if messages %}
                                <p class="text-danger font-weight-bold">Alerta: {{ messages|join:", " }}</p>
                            {% endif %}
                        </div>
                    <div > 
                        <button type="submit" class="btn">Restablecer</button>
                        <a href="{% url 'reset_password' %}" class="btn"> Regresar </a>
                    </div> <br>
                </div>
            </div> 
        </form>
    {% endblock %}
</body>
</html>