{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset_p.css' %}">
    <title>Restablecer Contraseña</title>
</head>
<body>
{% block content %}
    <style>
        body{
            background-image: url('{% static "imagenes/logreg/fond.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    
    

    <form method="post">
        {% csrf_token %}
        <div id="ctnE" class="container ">
            <div id="ctnI">
                <img src="{% static 'imagenes/logreg/resta.png' %}" width="130px" height="130px">
            </div>
            <h4 align="center" class="mt-3 mb-3 font-weight-bold">Restablecimiento del contraseña</h4> 
            <div class="ml-5 container ">
                <label for="email" class="font-italic ">Correo Electrónico:</label> <br>
                <input type="email" name="email" id="email" class="mb-3"> 
                <div class="mb-2" id="error">
                {% if messages %}
                    <label class="text-danger font-weight-bold" id="error">Alerta: {{ messages|join:", " }}</label>
                {% endif %}
                </div>
                <button type="submit" id="btnE" class="btn mb-4 "> Restablecer </button>
                <a href="{% url 'base' %}" class="btn" id="btnV"> Regresar </a>
            </div>
        </div>
    </form>

{% endblock %}
</body>
</html>





